.buttons {
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;

  button {
    padding: 7px 14px;
    border-radius: 50px;
    color: #6C6C6C;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width:1080px) {
  .buttons {
    background-color: transparent;
    padding: 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      white-space: nowrap;
      padding: 8.5px 15px;
      border-radius: 50px;
      color: #6C6C6C;
      font-size: 12px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;

    }
  }

  .wrap {
    overflow-x: auto;
    padding-bottom: 0;
    height: fit-content;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.boxed {
  .buttons {
    padding: 0;
    background: #f1f2f3 !important;
    border-radius: 60px;
    height: 40px;
  }

  button {
    border-radius: 60px;
    width: 50%;
    height: 40px;
    text-align: center;
  }
}

.auth {
  .buttons {
    gap: 15px;
    background-color: #F1F2F3;
  }
}

@media (max-width: 1080px) {
  .auth {
    .buttons {
      gap: 15px;
      background-color: #F1F2F3;
      padding: 10px;
    }
  }
}

.inlineButton {
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons {
    gap: 10px;
    padding: 0;
    background-color: transparent;

    button {
      padding: 0 15px 15px 15px;
      font-weight: 400;
      font-size: 14px;
      color: #000;
      border-bottom: 2px solid transparent;
      border-radius: unset;
    }

    .inlineButton__active {
      font-weight: 700;
      font-size: 14px;
      color: #045719;
      border-bottom: 2px solid #045719;
    }
  }


}