.services {
  max-width: 815px;
  margin: 0 auto 100px auto;
  border-radius: 20px;
  padding: 26px 62.5px 40px 62.5px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  padding: 32px 80px 0 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 21.6px;
    color: #5B5B5B;
    gap: 6px;
  }
}

@media (max-width:1080px) {
  .services {
    padding: 0;
    margin: 0 0 50px 0;
    max-width: 100%;
    background-color: transparent;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px;
  }

  .tab {
    margin: 5px 15px 0 15px;
    padding: 25.5px 27px 25.5px 27px;
    background-color: #EBF3ED;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
  }


}